<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hickery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1700E32E1DC689A60085A5D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1700E3441DC689A60085A5D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1700E34F1DC689A70085A5D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
